

section .main__div{
    
     z-index: 2;
}


section .parallax{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

section .modal__div{
    position:absolute;
    right: 10%;
    top: 10%;
    z-index: 0;
    overflow: hidden;
    
}


section .icons{
    position: fixed;
    top: 40%;
    right: 2%;
}

section .content{
    position: absolute;
    top: 30%;
    left: 10%;
}

section .content h1{
    font-size: 5rem;
    font-weight: lighter;
}


